body {
    font-family: 'Inter', sans-serif;
}

.font-gothic {
    font-family: 'Pirata One', cursive;
}

/* Ocultar barra de scroll en contenedores horizontales para m贸vil */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* App_Store */
/* Estilos adicionales para las animaciones de JS */
.product-card {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.product-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animaci贸n suave para la imagen al hacer hover en la tarjeta */
.product-image-container img {
    transition: transform 0.5s ease;
}

.product-card:hover .product-image-container img {
    transform: scale(1.05);
}

/* Animaci贸n de pulso para el bot贸n al hacer click */
@keyframes btn-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.btn-clicked {
    animation: btn-pulse 0.3s ease-in-out;
}